@import "default.css";

.main-table {
    border: 2px solid #c2c5aa;
    border-radius: 16px;
}

.main-table tr th {
    border: 2px solid #c2c5aa;
}

.cell-content {
    width: 70vw;
    padding: 0px;
    border-radius: 0px;
}

.cell-menu {
    width: 15vw;
    overflow-y: auto;
}

.cell-menu:last-child {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.cell-menu:first-child {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.cell-content iframe {
    width: 100%;
    height: 90vh;
    border: none;
    margin: 0px;
    padding: 0px;
}

.marquee {
    background-color: #c2c5aa;
    color: #333d29;
    margin: 16px;
    border-radius: 6px;
}