#pogrubienie_okroj {
    font-size: 33px;
    color: #95626C;
    font-weight: bold;
}


#pochylona{
    font-size: 38px;
    color: #E9C66C;
    font-style: italic;
}

#index_gorny_okroj{
    font-size: 1.3cm;
    color: #A9941C;
    vertical-align: super;
}

#index_dolny_okroj{
    font-size: 2.1cm;
    color: RGB(27%, 97%, 89%);
    vertical-align: sub;
}

#mono_okroj{
    color: #29E46C;
    font-size: 43px;
}

#powiekszenie_okroj{
    color: #63449E;

}

#pomniejszenie_okroj{
    color: RGB(78%, 66%, 23%);
}