@import "../../default.css";

body {
    color: #cad1af;
    font-size: 35mm;
}

p {
    color: #333d29;
    background-color: #a4ac86;
    width: 1600px;
    border-radius: 4px;
    font-size: 45mm;
    padding: 4px;
}